<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BOFNET" version="1.1.1" targetFramework="net472" />
  <package id="dnMerge" version="0.5.15" targetFramework="net472" developmentDependency="true" />
  <package id="DotNetZip" version="1.16.0" targetFramework="net472" />
</packages>